#content {
  background-color: lightgrey;
  border: 2px solid black;
  padding-bottom: 5px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

#Chicken {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
}